

/* foreground styles */
.ce_main{
    width: 400px;
    height: 600px;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    z-index: 999999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: white;
    font-size: 70px;

    background-color: red;
}

/* elements class - from top to bot
MuiBox-root css-187qhkg
jss28 MuiBox-root css-30i7d6
---->create the div here as a child of these
*/

/* 
box of all mons items
MuiBox-root.css-vqwd1x

use > to select all direct children
*/

/* .css-30i7d6:hover{
    background-color: red !important;
} */
